.cardContainer {
    margin-bottom: 15px;
  }
  .card {
    margin: 0 auto;
  }

  /* Navigation bar */

/* General */
.customNav {
    position: fixed;
    width: 100%;
    /* background: url(); */
    background-color: pink !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    padding-right: 15px;
    width: 80px;
  }
  .nav-item {
    margin: 0px 15px;
  }

  .card{
    opacity: 0.8;
  }

  .card:hover{
    opacity: 1;
    cursor: pointer;
  }

  img{
    background-image: url("");
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

hr{
  margin-left: 50px;
  margin-right: 50px;
}

h1{
  text-align: center;
  padding: 15px;
}